
.navbar-brand img{
	width: 50px;
	height: 50px;
}
.video1{
	position: absolute;
	right: 0;
	bottom: 0;
	width:1600px;
	height:1000px ;
/*	width: auto;
	height: auto;*/
}
.navbar-header{
	height: 80px;
}
.nav.navbar-nav.navbar-right li{
	margin-top: 10px;
}
.nav.navbar-nav.navbar-right a{
	font-size: 18px;
}
.img-responsive.points{
	height: 120px;
	width: 120px;
	float: left;
}
.img-responsive.quote{
	float: left;
}
.row.toplist1{
	margin-top: 125px;
}
.img-responsive.avatar{
	height: 120px;
	width: 120px;
}
.col-md-6.col-md-offset-3.photos h3{
	margin-left: 20px;
}
.col-md-6.col-md-offset-3.photos p{
	margin-left: 20px;
}
.row.toplist2{
	margin-top: 30px;
}
.btn.btn-success.btn-lg.dropdown-toggle{
	margin-top: 20px;
}
.row.toplist1{
	margin-top: 20px;
	margin-bottom: 20px;
}
.row.toplist2{
	margin-top: 20px;
	margin-bottom: 20px;
}
.col-md-4.photos img{
	margin-right: 20px;
}
.img-responsive.logo{
	width: 50px;
	height: 50px;
}
.row.logo{
	margin-top: 30px;
}